name: Run all the checks

on: push

jobs:
  check-flakes:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Create TMPDIR
        run: |
          mkdir -p /home/runner/work/tmp
          echo "TMPDIR=/home/runner/work/tmp" >> $GITHUB_ENV

      - name: Install nix-direnv
        run: |
          mkdir -p "${XDG_CONFIG_HOME}/direnv/lib"
          cp "$(nix-build --expr "(import <nixpkgs> {}).nix-direnv")"/share/nix-direnv/direnvrc "${XDG_CONFIG_HOME}/direnv/lib/nix-direnv.sh"

      - name: Get all the inputs
        run: |
          AOC_SESSION='${{ secrets.AOC_SESSION }}' nix develop --command just get-all-inputs
          sleep 60s
        shell: bash

      - name: Check the flakes
        run: nix develop --command just check-all
        shell: bash
